# preprocessing using pyspark

In [0]:
storage_account_name = 'usprojectprod'
storage_account_access_key = 'XeZ0aEiNiRwE4E9T0Vs9K6IoK+8eBSlwkLwauaa3jUAbvrat57FTUM/S6iakh4LvPF9Nt0k+Tb2i+ASt0nmk9Q=='

In [0]:
blob_container="finalproject"
storage_account_name="usprojectprod"
file_location = "wasbs://" + blob_container + "@" + storage_account_name + ".blob.core.windows.net/US_FINAL_PROJECT.csv"
file_type = "csv"

In [0]:
spark.conf.set(
  "fs.azure.account.key."+storage_account_name+".blob.core.windows.net",
  storage_account_access_key)

In [0]:
# reading data from blob container 
df = spark.read.csv(file_location, header=True, inferSchema=True)

In [0]:
# showing first 20 rows of dataframe
df.show(20)

+------------+----------+---------------+------------+--------------+--------+----------------------+--------------------+--------------------+----------+----------+--------------------+----------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+----------+-------------------+-------------------+-------------+-------------------+------------------+------------+-------------------+-------------------+---------+-------------------+-------------------+----------------+--------------------+--------------------+----------+--------------+--------------+------------------+--------------------+--------------------+------------------+-------------------+-------------------+-----------+---------------+---------------+-----------------------+---------------------------+---------------------------+-------------------+------------------------------+-------------------+
|period_begin|period_end|period_duration| region_type|region_type_id|table_id|is_seasonally_adjusted|              region|                city|     state|state_code|       property_type|property_type_id|median_sale_price|median_sale_price_mom|median_sale_price_yoy|median_list_price|median_list_price_mom|median_list_price_yoy|       median_ppsf|    median_ppsf_mom|    median_ppsf_yoy|  median_list_ppsf|median_list_ppsf_mom|median_list_ppsf_yoy|homes_sold|     homes_sold_mom|     homes_sold_yoy|pending_sales|  pending_sales_mom| pending_sales_yoy|new_listings|   new_listings_mom|   new_listings_yoy|inventory|      inventory_mom|      inventory_yoy|months_of_supply|months_of_supply_mom|months_of_supply_yoy|median_dom|median_dom_mom|median_dom_yoy|  avg_sale_to_list|avg_sale_to_list_mom|avg_sale_to_list_yoy|   sold_above_list|sold_above_list_mom|sold_above_list_yoy|price_drops|price_drops_mom|price_drops_yoy|off_market_in_two_weeks|off_market_in_two_weeks_mom|off_market_in_two_weeks_yoy|parent_metro_region|parent_metro_region_metro_code|       last_updated|
+------------+----------+---------------+------------+--------------+--------+----------------------+--------------------+--------------------+----------+----------+--------------------+----------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+----------+-------------------+-------------------+-------------+-------------------+------------------+------------+-------------------+-------------------+---------+-------------------+-------------------+----------------+--------------------+--------------------+----------+--------------+--------------+------------------+--------------------+--------------------+------------------+-------------------+-------------------+-----------+---------------+---------------+-----------------------+---------------------------+---------------------------+-------------------+------------------------------+-------------------+
|  2020-08-01|2020-10-31|             90|neighborhood|             1|  697920|                     f|Navarre Beach, FL...|       Navarre Beach|   Florida|        FL|         Condo/Co-op|               3|         467500.0|  -0.0603015075376884|  -0.0635953930896344|         614500.0|   0.1979725119407349|   0.2938204021475945| 373.4337084744223|-0.0040535998423328| 0.0047956748820348|397.82678720527593| -0.0029143385242941|   0.023708457128319|      64.0|-0.0588235294117647| 0.2307692307692308|         10.0|-0.2857142857142857|               1.0|        34.0|-0.2608695652173913|-0.2608695652173913|     52.0|-0.1612903225806451|-0.3157894736842105|            NULL|                NULL|                NULL|      87.0|          -8.0|         -59.0| 0.971136933073761|  -0.002931804765634|  0.0029413133696073|          0.078125| 0.0045955882352941| 0.0588942307692307|       NULL|           NULL|           NULL|                    0.1|                        0.1|                        0.1|      Pensacola, FL|                         37860|2022-01-09 14:29:56|
|  2020-09-01|2020-11-30|             90|neighborhood|             1|  418921|                     f|Bayonet Point, FL...|       Bayonet Point|   Florida|        FL|Single Family Res...|               6|         480000.0|    0.509433962264151|                 NULL|         499900.0|                  0.0|                 NULL|167.89087093389296| 0.2026899496459375|               NULL|159.66145001596934|                 0.0|                NULL|       1.0|                0.0|               NULL|         NULL|               NULL|              NULL|         1.0|                0.0|               NULL|      1.0|                0.0|               NULL|            NULL|                NULL|                NULL|      88.0|          82.0|          NULL|               1.0| -0.0095238095238094|                NULL|               0.0|               -1.0|               NULL|       NULL|           NULL|           NULL|                   NULL|                       NULL|                       NULL|          Tampa, FL|                         45300|2022-01-09 14:29:56|
|  2014-02-01|2014-04-30|             90|neighborhood|             1|  101384|                     f|Scottsdale, AZ - ...|          Scottsdale|   Arizona|        AZ|     All Residential|              -1|         543562.0|  -0.1161593495934959|   0.1115787321063395|         510000.0|  -0.0367362357163093|  -0.2012529365700861|200.76481835564053|-0.0352993087218708| 0.0372042663963694|220.80796900940783|  0.0304664367361358|  0.0066367035774688|      31.0| 0.2399999999999999|-0.2051282051282051|          8.0|-0.3846153846153845|              -0.5|        45.0|-0.3181818181818182|               -0.4|     91.0|-0.0899999999999999|                0.3|            NULL|                NULL|                NULL|     138.0|         -16.0|          40.5|0.9687951134065864|  0.0061509792168357|  0.0045240304623883|0.1935483870967741| 0.1135483870967741| 0.1422663358147229|       NULL|           NULL|           NULL|                    0.0|        -0.2307692307692307|                    -0.3125|        Phoenix, AZ|                         38060|2022-01-09 14:29:56|
|  2019-12-01|2020-02-29|             90|neighborhood|             1|  104226|                     f|Phoenix, AZ - Bel...|             Phoenix|   Arizona|        AZ|           Townhouse|              13|         185000.0|   0.0136986301369863|   0.1054675829100686|         185000.0|  -0.0387088560895195|   0.0192837465564739|140.12738853503186| 0.0100430416068866| 0.0112036771042804|147.21337579617835|   0.015731867992988|  0.0187327823691461|       7.0|                0.0|               0.75|          2.0|-0.3333333333333333|               0.0|         7.0| 0.1666666666666667| 0.1666666666666667|      2.0|                0.0|-0.3333333333333333|            NULL|                NULL|                NULL|      42.0|           0.0|          10.0|0.9598083034823482|  0.0017362436386569| -0.0474084774054502|0.2857142857142857|                0.0|-0.4642857142857143|       NULL|           NULL|           NULL|                    0.5|                        0.5|                        0.0|        Phoenix, AZ|                         38060|2022-01-09 14:29:56|
|  2016-08-01|2016-10-31|             90|neighborhood|             1|  549865|                     f|Rochester, MN - C...|           Rochester| Minnesota|        MN|Multi-Family (2-4...|               4|         180000.0|                  0.0|                 NULL|             NULL|                 NULL|                 NULL| 89.10891089108911|                0.0|               NULL|              NULL|                NULL|                NULL|       1.0|                0.0|               NULL|         NULL|               NULL|              NULL|        NULL|               NULL|               NULL|     NULL|               NULL|               NULL|            NULL|                NULL|                NULL|      88.0|           0.0|          NULL|0.9473684210526316|                 0.0|                NULL|               0.0|                0.0|               NULL|       NULL|           NULL|           NULL|                   NULL|                       NULL|                       NULL|      Rochester, MN|                         40340|2022-01-09 14:29:56|
|  2017-12-01|2018-02-28|             90|neighborhood|             1|   67146|                     f|Tucson, AZ - Terr...|              Tucson|   Arizona|        AZ|     All Residential|              -1|         155000.0|   0.0130718954248365|   0.1071428571428572|         157500.0|   0.0361842105263157|   0.0503501167055684|106.12569610182976|-0.0097066068570222| 0.1174784524729757| 94.50645353911166| -0.0039841592225797| -0.0833426618902959|      15.0|                0.0|-0.1666666666666666|          4.0|-0.1999999999999999|               3.0|        16.0|-0.1578947368421053|-0.1111111111111111|     19.0|-0.1363636363636363|              -0.05|            NULL|                NULL|                NULL|      43.0|          -1.0|         -23.5|0.9832026584946482| -0.0192617220568909|  0.0220755169243056|0.2666666666666666|-0.0666666666666666|-0.0111111111111111|       NULL|           NULL|           NULL|                    0.0|                       -0.2|                        0.0|         Tucson, AZ|                         46060|2022-01-09 14:29:56|
|  2021-01-01|2021-03-31|             90|neighborhood|             1|  118184|                     f|Tamalpais-Homeste...|Tamalpais-Homeste...|California|        CA|Single Family Res...|               6|        1135000.0|   0.2270270270270269|   0.0460829493087557|         997000.0|   0.1139664804469273|   -0.500250626566416| 759.0353627824428|                0.0|  1.274307801295596| 932.5992659325992|  0.2824763761582933|  0.6010789402602267|       2.0|               -0.5|                1.0|         NULL|               NULL|              NULL|         3.0|                0.0|                2.0|      2.0|               NULL|                0.0|            NULL|                NULL|                NULL|       6.0|         -37.5|        -227.0| 1.201285420507332|    0.12472259591331|  0.4235076427295542|               1.0|                0.5|                1.0|       NULL|           NULL|           NULL|                   NULL|                       NULL|                       NULL|     San Rafael, CA|                         42034|2022-01-09 14:29:56|
|  2017-02-01|2017-04-30|             90|neighborhood|             1|  556029|                     f|Honolulu, HI - Ma...|            Honolulu|    Hawaii|        HI|     All Residential|              -1|         370000.0|   0.0068027210884353|   0.0320781032078103|         359000.0|  -0.0388219544846051|  -0.0191256830601093| 555.1924764572856|-0.0025605921616194| 0.0248087937593763| 532.0284697508897| -0.0396638950664828| -0.0125982637926006|     100.0| 0.0204081632653061| 0.1111111111111111|         21.0|               -0.4|            -0.125|       117.0|-0.0999999999999999|         -0.0859375|    119.0|  0.017094017094017|-0.0846153846153846|            NULL|                NULL|                NULL|      69.0|          -1.0|           9.0|0.9711040492757732|   1.709397284667E-4| -0.0094690664580816|              0.19| 0.0165306122448979|-0.0322222222222222|       NULL|           NULL|           NULL|     0.1428571428571428|                        0.0|        -0.0238095238095238| Urban Honolulu, HI|                         46520|2022-01-09 14:29:56|
|  2017-11-01|2018-01-31|             90|neighborhood|             1|  159414|                     f|Tinley Park, IL -...|         Tinley Park|  Illinois|        IL|Single Family Res...|               6|         212500.0|   0.1724137931034481|   0.3449367088607595|         235000.0|   0.2374934175882044|   0.6720028459622911|137.09677419354838| 0.0240141354108103| 0.0062724014336916|196.48829431438128|  0.0222771710511253|   1.159217369501095|       5.0|               0.25|-0.4444444444444444|          1.0|                0.0|              NULL|         1.0|                0.0|               -0.5|      1.0|               -0.5|               -0.5|            NULL|                NULL|                NULL|      79.0|           3.5|         -36.0|0.9871385220889678|  -0.008793364146696|  0.0267817232637811|               0.4|-0.0999999999999999| 0.2888888888888889|       NULL|           NULL|           NULL|                    0.0|                        0.0|                       NULL|        Chicago, IL|                         16984|2022-01-09 14:29:56|
|  2014-05-01|2014-07-31|             90|neighborhood|             1|  355500|                     f|Point Pleasant Be...|Point Pleasant Beach|New Jersey|        NJ|     All Residential|              -1|         410000.0|   -0.020310633213859|   0.0186335403726707|         474450.0|    9.493670886076E-4|   -0.215136476426799|             375.0| 0.1794871794871795| 0.5442785833386101| 274.1867342627799| -0.4049484917230317| -0.2477678409336947|       5.0|-0.1666666666666666|               0.25|         NULL|               NULL|              NULL|         4.0|                0.0|                0.0|      6.0| 0.1999999999999999| 0.1999999999999999|            NULL|                NULL|                NULL|     137.0|          -5.0|         -29.0|0.9670919697141596|  -8.628633574564E-4|  0.0482075540714816|               0.2|-0.1333333333333333|                0.2|       NULL|           NULL|           NULL|                   NULL|                       NULL|                       NULL|  New Brunswick, NJ|                         35154|2022-01-09 14:29:56|
|  2015-01-01|2015-03-31|             90|neighborhood|             1|  551453|                     f|Fair Plain, MI - ...|          Fair Plain|  Michigan|        MI|     All Residential|              -1|         282454.5|  -0.2789929802169751|    1.882188775510204|         242250.0|   -0.191151919866444|   0.0312899106002553|123.11296597046493|-0.1641189544061788| 0.2776110856322737| 105.9966216216216| -0.2143155258764608|  0.1267499539769654|       2.0|                0.0|                1.0|         NULL|               NULL|              NULL|         2.0|                1.0|                1.0|      3.0|                0.0|              -0.25|            NULL|                NULL|                NULL|     704.5|       -2673.0|       -1559.5|0.9404836788558756| -0.0020998824855092|  0.0062606092657897|               0.0|                0.0|                0.0|       NULL|           NULL|           NULL|                   NULL|                       NULL|                       NULL|          Niles, MI|                         35660|2022-01-09 14:29:56|
|  2016-08-01|2016-10-31|             90|neighborhood|             1|  153532|                     f|Columbus, OH - Wi...|            Columbus|      Ohio|        OH|     All Residential|              -1|         131000.0|  -0.0150375939849624|                0.048|         131900.0|   0.0153964588144726|   0.0723577235772356| 89.76866217963251|-0.0055367535490523| 0.1397029350326142| 95.79646017699113| -0.0183553743661132|  0.1687168141592918|      24.0|              -0.04|  0.411764705882353|          5.0|                0.0|              0.25|        19.0| 0.1176470588235294| 0.1176470588235294|     11.0|                0.1|-0.2142857142857143|            NULL|                NULL|                NULL|      52.0|          -3.0|          -6.0| 0.999818607685578|  0.0146480670376447|  0.0188446056285686|0.3333333333333333|-0.0266666666666666| 0.0980392156862744|       NULL|           NULL|           NULL|                    0.2|                        0.0|                        0.2|       Columbus, OH|                         18140|2022-01-09 14:29:56|
|  2019-10-01|2019-12-31|             90|neighborhood|             1|  119425|                     f|Oxnard, CA - Sout...|              Oxnard|California|        CA|Multi-Family (2-4...|               4|         797500.0|   0.5047169811320755|                 NULL|         872500.0|                  0.0|                 NULL|  231.686976307002| -0.171172628154574|               NULL| 249.4915507114364|                 0.0|                NULL|       4.0|                3.0|               NULL|          2.0|                1.0|              NULL|         6.0|                0.5|               NULL|      4.0|                0.0|               NULL|            NULL|                NULL|                NULL|      21.0|           0.0|          NULL| 1.012729449321628|  0.0312479678401466|                NULL|               0.5|                0.5|               NULL|       NULL|           NULL|           NULL|                    0.0|                       -1.0|                       NULL|         Oxnard, CA|                         37100|2022-01-09 14:29:56|
|  2019-01-01|2019-03-31|             90|neighborhood|             1|  188640|                     f|Milwaukee, WI - G...|           Milwaukee| Wisconsin|        WI|Single Family Res...|               6|          72500.0|  -0.1243961352657004|  -0.1761363636363636|         102450.0|  -0.1087429317094389|   0.0301659125188535| 56.14035087719298|-0.2205623598412973|-0.0464777327935222| 94.16445905585196| -0.0979556118659379|   0.174016448710798|       3.0|              -0.25|               -0.4|         NULL|               NULL|              NULL|         4.0| 0.3333333333333332|-0.3333333333333333|      5.0| 0.6666666666666667|-0.4444444444444444|            NULL|                NULL|                NULL|     157.0|          43.0|          75.0|0.9403797656134104|  0.0021119584203697| -0.0184193784299903|               0.0|                0.0|                0.0|       NULL|           NULL|           NULL|                   NULL|                       NULL|                       NULL|      Milwaukee, WI|                         33340|2022-01-09 14:29:56|
|  2012-05-01|2012-07-31|             90|neighborhood|             1|   11312|                     f|Palo Alto, CA - D...|           Palo Alto|California|        CA|Single Family Res...|               6|        1693500.0|  -0.0105170902716914|   0.2544444444444444|        1695000.0|   0.1027976577748861|   0.3576291549859831| 973.2058007993022|-0.0255553043110681| 0.1149633249912005| 960.8247422680414|  0.0565167569720628|  0.2396420309274698|      12.0|-0.1428571428571429| 0.3333333333333332|          6.0|                5.0|0.1999999999999999|        11.0|-0.2142857142857143|            -0.3125|      1.0|              -0.75|              -0.75|            NULL|                NULL|                NULL|      10.0|           0.0|           0.0|1.1214404010454233|  0.0095876129269008|  0.0716189804123954|               1.0| 0.0714285714285713| 0.2222222222222222|       NULL|           NULL|           NULL|     0.6666666666666666|        -0.3333333333333333|        -0.1333333333333334|       San Jose, CA|                         41940|2022-01-09 14:29:56|

In [0]:
# finding shape of data i.e. no of rows and columns

num_rows = df.count()
num_cols = len(df.columns)
print("Shape of DataFrame: ({}, {})".format(num_rows, num_cols))

Shape of DataFrame: (9002881, 58)

In [0]:
#finding count of null values present in each column of dataframe

from pyspark.sql.functions import col, sum as spark_sum
null_counts = df.select([spark_sum(col(c).isNull().cast('int')).alias(c) for c in df.columns])
null_counts.show()

+------------+----------+---------------+-----------+--------------+--------+----------------------+------+----+-----+----------+-------------+----------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+-----------+---------------+---------------+----------------+--------------------+--------------------+----------+--------------+--------------+-------------+-----------------+-----------------+------------+----------------+----------------+---------+-------------+-------------+----------------+--------------------+--------------------+----------+--------------+--------------+----------------+--------------------+--------------------+---------------+-------------------+-------------------+-----------+---------------+---------------+-----------------------+---------------------------+---------------------------+-------------------+------------------------------+------------+
|period_begin|period_end|period_duration|region_type|region_type_id|table_id|is_seasonally_adjusted|region|city|state|state_code|property_type|property_type_id|median_sale_price|median_sale_price_mom|median_sale_price_yoy|median_list_price|median_list_price_mom|median_list_price_yoy|median_ppsf|median_ppsf_mom|median_ppsf_yoy|median_list_ppsf|median_list_ppsf_mom|median_list_ppsf_yoy|homes_sold|homes_sold_mom|homes_sold_yoy|pending_sales|pending_sales_mom|pending_sales_yoy|new_listings|new_listings_mom|new_listings_yoy|inventory|inventory_mom|inventory_yoy|months_of_supply|months_of_supply_mom|months_of_supply_yoy|median_dom|median_dom_mom|median_dom_yoy|avg_sale_to_list|avg_sale_to_list_mom|avg_sale_to_list_yoy|sold_above_list|sold_above_list_mom|sold_above_list_yoy|price_drops|price_drops_mom|price_drops_yoy|off_market_in_two_weeks|off_market_in_two_weeks_mom|off_market_in_two_weeks_yoy|parent_metro_region|parent_metro_region_metro_code|last_updated|
+------------+----------+---------------+-----------+--------------+--------+----------------------+------+----+-----+----------+-------------+----------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+-----------+---------------+---------------+----------------+--------------------+--------------------+----------+--------------+--------------+-------------+-----------------+-----------------+------------+----------------+----------------+---------+-------------+-------------+----------------+--------------------+--------------------+----------+--------------+--------------+----------------+--------------------+--------------------+---------------+-------------------+-------------------+-----------+---------------+---------------+-----------------------+---------------------------+---------------------------+-------------------+------------------------------+------------+
|           0|         0|              0|          0|             0|       0|                     0|     0|   0|    0|         0|            0|               0|            25064|               540961|              1381062|           788365|              1343844|              2013027|      82703|         596548|        1432348|          822060|             1375460|             2041221|     24805|        540722|       1380856|      3241214|          4478902|          4705767|      852913|         1406047|         2093110|  1539588|      2122879|      2710414|         9002881|             9002881|             9002881|    171585|        687913|       1553901|          186586|              695460|             1525883|         136030|             647046|            1483245|    9002881|        9002881|        9002881|                3045179|                    4324215|                    4563890|                  0|                             0|           0|
+------------+----------+---------------+-----------+--------------+--------+----------------------+------+----+-----+----------+-------------+----------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+-----------+---------------+---------------+----------------+--------------------+--------------------+----------+--------------+--------------+-------------+-----------------+-----------------+------------+----------------+----------------+---------+-------------+-------------+----------------+--------------------+--------------------+----------+--------------+--------------+----------------+--------------------+--------------------+---------------+-------------------+-------------------+-----------+---------------+---------------+-----------------------+---------------------------+---------------------------+-------------------+------------------------------+------------+

In [0]:
# showing columns of dataframe
df.columns

['period_begin',
 'period_end',
 'period_duration',
 'region_type',
 'region_type_id',
 'table_id',
 'is_seasonally_adjusted',
 'region',
 'city',
 'state',
 'state_code',
 'property_type',
 'property_type_id',
 'median_sale_price',
 'median_sale_price_mom',
 'median_sale_price_yoy',
 'median_list_price',
 'median_list_price_mom',
 'median_list_price_yoy',
 'median_ppsf',
 'median_ppsf_mom',
 'median_ppsf_yoy',
 'median_list_ppsf',
 'median_list_ppsf_mom',
 'median_list_ppsf_yoy',
 'homes_sold',
 'homes_sold_mom',
 'homes_sold_yoy',
 'pending_sales',
 'pending_sales_mom',
 'pending_sales_yoy',
 'new_listings',
 'new_listings_mom',
 'new_listings_yoy',
 'inventory',
 'inventory_mom',
 'inventory_yoy',
 'months_of_supply',
 'months_of_supply_mom',
 'months_of_supply_yoy',
 'median_dom',
 'median_dom_mom',
 'median_dom_yoy',
 'avg_sale_to_list',
 'avg_sale_to_list_mom',
 'avg_sale_to_list_yoy',
 'sold_above_list',
 'sold_above_list_mom',
 'sold_above_list_yoy',
 'price_drops',
 'price_drops_mom',
 'price_drops_yoy',
 'off_market_in_two_weeks',
 'off_market_in_two_weeks_mom',
 'off_market_in_two_weeks_yoy',
 'parent_metro_region',
 'parent_metro_region_metro_code',
 'last_updated']

In [0]:
# droping irrelevent columns which are not required for further analysis
columns_to_drop = ['period_duration', 'table_id', 'region_type', 'region_type_id', 'is_seasonally_adjusted', 'state_code', 'property_type_id', 'last_updated']
df = df.select([col for col in df.columns if col not in columns_to_drop])

In [0]:
# checking percentage of missing values present in each column of dataframe

from pyspark.sql.functions import col, sum
total_rows = df.count()
null_percentage_per_column = df.select([
    (sum(col(c).isNull().cast("int")) / total_rows * 100).alias(c + '_null_percentage')
    for c in df.columns
]).show()

+----------------------------+--------------------------+----------------------+--------------------+---------------------+-----------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------+-------------------------------+-------------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+-----------------------------+---------------------------------+---------------------------------+----------------------------+--------------------------------+--------------------------------+-------------------------+-----------------------------+-----------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+--------------------------------+------------------------------------+------------------------------------+-------------------------------+-----------------------------------+-----------------------------------+---------------------------+-------------------------------+-------------------------------+---------------------------------------+-------------------------------------------+-------------------------------------------+-----------------------------------+----------------------------------------------+
|period_begin_null_percentage|period_end_null_percentage|region_null_percentage|city_null_percentage|state_null_percentage|property_type_null_percentage|median_sale_price_null_percentage|median_sale_price_mom_null_percentage|median_sale_price_yoy_null_percentage|median_list_price_null_percentage|median_list_price_mom_null_percentage|median_list_price_yoy_null_percentage|median_ppsf_null_percentage|median_ppsf_mom_null_percentage|median_ppsf_yoy_null_percentage|median_list_ppsf_null_percentage|median_list_ppsf_mom_null_percentage|median_list_ppsf_yoy_null_percentage|homes_sold_null_percentage|homes_sold_mom_null_percentage|homes_sold_yoy_null_percentage|pending_sales_null_percentage|pending_sales_mom_null_percentage|pending_sales_yoy_null_percentage|new_listings_null_percentage|new_listings_mom_null_percentage|new_listings_yoy_null_percentage|inventory_null_percentage|inventory_mom_null_percentage|inventory_yoy_null_percentage|months_of_supply_null_percentage|months_of_supply_mom_null_percentage|months_of_supply_yoy_null_percentage|median_dom_null_percentage|median_dom_mom_null_percentage|median_dom_yoy_null_percentage|avg_sale_to_list_null_percentage|avg_sale_to_list_mom_null_percentage|avg_sale_to_list_yoy_null_percentage|sold_above_list_null_percentage|sold_above_list_mom_null_percentage|sold_above_list_yoy_null_percentage|price_drops_null_percentage|price_drops_mom_null_percentage|price_drops_yoy_null_percentage|off_market_in_two_weeks_null_percentage|off_market_in_two_weeks_mom_null_percentage|off_market_in_two_weeks_yoy_null_percentage|parent_metro_region_null_percentage|parent_metro_region_metro_code_null_percentage|
+----------------------------+--------------------------+----------------------+--------------------+---------------------+-----------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------+-------------------------------+-------------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+-----------------------------+---------------------------------+---------------------------------+----------------------------+--------------------------------+--------------------------------+-------------------------+-----------------------------+-----------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+--------------------------------+------------------------------------+------------------------------------+-------------------------------+-----------------------------------+-----------------------------------+---------------------------+-------------------------------+-------------------------------+---------------------------------------+-------------------------------------------+-------------------------------------------+-----------------------------------+----------------------------------------------+
|                         0.0|                       0.0|                   0.0|                 0.0|                  0.0|                          0.0|              0.27839977002917177|                    6.008754308759607|                   15.340222757581712|                8.756807959585382|                   14.926821758501529|                   22.359809043349568|         0.9186281591415015|              6.626189994069676|               15.9098848468618|               9.131077040782834|                  15.277998231899323|                  22.672975461966008|        0.2755229131652412|              6.00609960300486|             15.33793460115712|            36.00196426010741|                49.74965236128301|                52.26956793053246|           9.473778449365264|              15.617745030729607|               23.24933540718799|        17.10105909430548|           23.579996225652657|            30.10607382236864|                           100.0|                               100.0|                               100.0|         1.905889903465346|             7.641031798598694|            17.260041535592883|              2.0725143429086756|                  7.7248605196492095|                  16.948830046737264|              1.510960769113798|                  7.187099329647921|                  16.47522609706826|                      100.0|                          100.0|                          100.0|                      33.82449462566483|                          48.03145792996709|                          50.69366128464877|                                0.0|                                           0.0|
+----------------------------+--------------------------+----------------------+--------------------+---------------------+-----------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------+-------------------------------+-------------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+-----------------------------+---------------------------------+---------------------------------+----------------------------+--------------------------------+--------------------------------+-------------------------+-----------------------------+-----------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+--------------------------------+------------------------------------+------------------------------------+-------------------------------+-----------------------------------+-----------------------------------+---------------------------+-------------------------------+-------------------------------+---------------------------------------+-------------------------------------------+-------------------------------------------+-----------------------------------+----------------------------------------------+

In [0]:
# droping columns which have null values with more than 30 percent as filling null values will lead in data manupulation
from pyspark.sql.functions import col
total_rows = df.count()
threshold = int(total_rows * 0.7)
columns_to_keep = []
for column in df.columns:
    non_null_count = df.filter(col(column).isNotNull()).count()
    
    if non_null_count >= threshold:
        columns_to_keep.append(column)

df_filtered = df.select(columns_to_keep)
df_filtered.show()

+------------+----------+--------------------+--------------------+----------+--------------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+----------+-------------------+-------------------+------------+-------------------+-------------------+---------+-------------------+----------+--------------+--------------+------------------+--------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------------------+
|period_begin|period_end|              region|                city|     state|       property_type|median_sale_price|median_sale_price_mom|median_sale_price_yoy|median_list_price|median_list_price_mom|median_list_price_yoy|       median_ppsf|    median_ppsf_mom|    median_ppsf_yoy|  median_list_ppsf|median_list_ppsf_mom|median_list_ppsf_yoy|homes_sold|     homes_sold_mom|     homes_sold_yoy|new_listings|   new_listings_mom|   new_listings_yoy|inventory|      inventory_mom|median_dom|median_dom_mom|median_dom_yoy|  avg_sale_to_list|avg_sale_to_list_mom|avg_sale_to_list_yoy|   sold_above_list|sold_above_list_mom|sold_above_list_yoy|parent_metro_region|parent_metro_region_metro_code|
+------------+----------+--------------------+--------------------+----------+--------------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+----------+-------------------+-------------------+------------+-------------------+-------------------+---------+-------------------+----------+--------------+--------------+------------------+--------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------------------+
|  2020-08-01|2020-10-31|Navarre Beach, FL...|       Navarre Beach|   Florida|         Condo/Co-op|         467500.0|  -0.0603015075376884|  -0.0635953930896344|         614500.0|   0.1979725119407349|   0.2938204021475945| 373.4337084744223|-0.0040535998423328| 0.0047956748820348|397.82678720527593| -0.0029143385242941|   0.023708457128319|      64.0|-0.0588235294117647| 0.2307692307692308|        34.0|-0.2608695652173913|-0.2608695652173913|     52.0|-0.1612903225806451|      87.0|          -8.0|         -59.0| 0.971136933073761|  -0.002931804765634|  0.0029413133696073|          0.078125| 0.0045955882352941| 0.0588942307692307|      Pensacola, FL|                         37860|
|  2020-09-01|2020-11-30|Bayonet Point, FL...|       Bayonet Point|   Florida|Single Family Res...|         480000.0|    0.509433962264151|                 NULL|         499900.0|                  0.0|                 NULL|167.89087093389296| 0.2026899496459375|               NULL|159.66145001596934|                 0.0|                NULL|       1.0|                0.0|               NULL|         1.0|                0.0|               NULL|      1.0|                0.0|      88.0|          82.0|          NULL|               1.0| -0.0095238095238094|                NULL|               0.0|               -1.0|               NULL|          Tampa, FL|                         45300|
|  2014-02-01|2014-04-30|Scottsdale, AZ - ...|          Scottsdale|   Arizona|     All Residential|         543562.0|  -0.1161593495934959|   0.1115787321063395|         510000.0|  -0.0367362357163093|  -0.2012529365700861|200.76481835564053|-0.0352993087218708| 0.0372042663963694|220.80796900940783|  0.0304664367361358|  0.0066367035774688|      31.0| 0.2399999999999999|-0.2051282051282051|        45.0|-0.3181818181818182|               -0.4|     91.0|-0.0899999999999999|     138.0|         -16.0|          40.5|0.9687951134065864|  0.0061509792168357|  0.0045240304623883|0.1935483870967741| 0.1135483870967741| 0.1422663358147229|        Phoenix, AZ|                         38060|
|  2019-12-01|2020-02-29|Phoenix, AZ - Bel...|             Phoenix|   Arizona|           Townhouse|         185000.0|   0.0136986301369863|   0.1054675829100686|         185000.0|  -0.0387088560895195|   0.0192837465564739|140.12738853503186| 0.0100430416068866| 0.0112036771042804|147.21337579617835|   0.015731867992988|  0.0187327823691461|       7.0|                0.0|               0.75|         7.0| 0.1666666666666667| 0.1666666666666667|      2.0|                0.0|      42.0|           0.0|          10.0|0.9598083034823482|  0.0017362436386569| -0.0474084774054502|0.2857142857142857|                0.0|-0.4642857142857143|        Phoenix, AZ|                         38060|
|  2016-08-01|2016-10-31|Rochester, MN - C...|           Rochester| Minnesota|Multi-Family (2-4...|         180000.0|                  0.0|                 NULL|             NULL|                 NULL|                 NULL| 89.10891089108911|                0.0|               NULL|              NULL|                NULL|                NULL|       1.0|                0.0|               NULL|        NULL|               NULL|               NULL|     NULL|               NULL|      88.0|           0.0|          NULL|0.9473684210526316|                 0.0|                NULL|               0.0|                0.0|               NULL|      Rochester, MN|                         40340|
|  2017-12-01|2018-02-28|Tucson, AZ - Terr...|              Tucson|   Arizona|     All Residential|         155000.0|   0.0130718954248365|   0.1071428571428572|         157500.0|   0.0361842105263157|   0.0503501167055684|106.12569610182976|-0.0097066068570222| 0.1174784524729757| 94.50645353911166| -0.0039841592225797| -0.0833426618902959|      15.0|                0.0|-0.1666666666666666|        16.0|-0.1578947368421053|-0.1111111111111111|     19.0|-0.1363636363636363|      43.0|          -1.0|         -23.5|0.9832026584946482| -0.0192617220568909|  0.0220755169243056|0.2666666666666666|-0.0666666666666666|-0.0111111111111111|         Tucson, AZ|                         46060|
|  2021-01-01|2021-03-31|Tamalpais-Homeste...|Tamalpais-Homeste...|California|Single Family Res...|        1135000.0|   0.2270270270270269|   0.0460829493087557|         997000.0|   0.1139664804469273|   -0.500250626566416| 759.0353627824428|                0.0|  1.274307801295596| 932.5992659325992|  0.2824763761582933|  0.6010789402602267|       2.0|               -0.5|                1.0|         3.0|                0.0|                2.0|      2.0|               NULL|       6.0|         -37.5|        -227.0| 1.201285420507332|    0.12472259591331|  0.4235076427295542|               1.0|                0.5|                1.0|     San Rafael, CA|                         42034|
|  2017-02-01|2017-04-30|Honolulu, HI - Ma...|            Honolulu|    Hawaii|     All Residential|         370000.0|   0.0068027210884353|   0.0320781032078103|         359000.0|  -0.0388219544846051|  -0.0191256830601093| 555.1924764572856|-0.0025605921616194| 0.0248087937593763| 532.0284697508897| -0.0396638950664828| -0.0125982637926006|     100.0| 0.0204081632653061| 0.1111111111111111|       117.0|-0.0999999999999999|         -0.0859375|    119.0|  0.017094017094017|      69.0|          -1.0|           9.0|0.9711040492757732|   1.709397284667E-4| -0.0094690664580816|              0.19| 0.0165306122448979|-0.0322222222222222| Urban Honolulu, HI|                         46520|
|  2017-11-01|2018-01-31|Tinley Park, IL -...|         Tinley Park|  Illinois|Single Family Res...|         212500.0|   0.1724137931034481|   0.3449367088607595|         235000.0|   0.2374934175882044|   0.6720028459622911|137.09677419354838| 0.0240141354108103| 0.0062724014336916|196.48829431438128|  0.0222771710511253|   1.159217369501095|       5.0|               0.25|-0.4444444444444444|         1.0|                0.0|               -0.5|      1.0|               -0.5|      79.0|           3.5|         -36.0|0.9871385220889678|  -0.008793364146696|  0.0267817232637811|               0.4|-0.0999999999999999| 0.2888888888888889|        Chicago, IL|                         16984|
|  2014-05-01|2014-07-31|Point Pleasant Be...|Point Pleasant Beach|New Jersey|     All Residential|         410000.0|   -0.020310633213859|   0.0186335403726707|         474450.0|    9.493670886076E-4|   -0.215136476426799|             375.0| 0.1794871794871795| 0.5442785833386101| 274.1867342627799| -0.4049484917230317| -0.2477678409336947|       5.0|-0.1666666666666666|               0.25|         4.0|                0.0|                0.0|      6.0| 0.1999999999999999|     137.0|          -5.0|         -29.0|0.9670919697141596|  -8.628633574564E-4|  0.0482075540714816|               0.2|-0.1333333333333333|                0.2|  New Brunswick, NJ|                         35154|
|  2015-01-01|2015-03-31|Fair Plain, MI - ...|          Fair Plain|  Michigan|     All Residential|         282454.5|  -0.2789929802169751|    1.882188775510204|         242250.0|   -0.191151919866444|   0.0312899106002553|123.11296597046493|-0.1641189544061788| 0.2776110856322737| 105.9966216216216| -0.2143155258764608|  0.1267499539769654|       2.0|                0.0|                1.0|         2.0|                1.0|                1.0|      3.0|                0.0|     704.5|       -2673.0|       -1559.5|0.9404836788558756| -0.0020998824855092|  0.0062606092657897|               0.0|                0.0|                0.0|          Niles, MI|                         35660|
|  2016-08-01|2016-10-31|Columbus, OH - Wi...|            Columbus|      Ohio|     All Residential|         131000.0|  -0.0150375939849624|                0.048|         131900.0|   0.0153964588144726|   0.0723577235772356| 89.76866217963251|-0.0055367535490523| 0.1397029350326142| 95.79646017699113| -0.0183553743661132|  0.1687168141592918|      24.0|              -0.04|  0.411764705882353|        19.0| 0.1176470588235294| 0.1176470588235294|     11.0|                0.1|      52.0|          -3.0|          -6.0| 0.999818607685578|  0.0146480670376447|  0.0188446056285686|0.3333333333333333|-0.0266666666666666| 0.0980392156862744|       Columbus, OH|                         18140|
|  2019-10-01|2019-12-31|Oxnard, CA - Sout...|              Oxnard|California|Multi-Family (2-4...|         797500.0|   0.5047169811320755|                 NULL|         872500.0|                  0.0|                 NULL|  231.686976307002| -0.171172628154574|               NULL| 249.4915507114364|                 0.0|                NULL|       4.0|                3.0|               NULL|         6.0|                0.5|               NULL|      4.0|                0.0|      21.0|           0.0|          NULL| 1.012729449321628|  0.0312479678401466|                NULL|               0.5|                0.5|               NULL|         Oxnard, CA|                         37100|
|  2019-01-01|2019-03-31|Milwaukee, WI - G...|           Milwaukee| Wisconsin|Single Family Res...|          72500.0|  -0.1243961352657004|  -0.1761363636363636|         102450.0|  -0.1087429317094389|   0.0301659125188535| 56.14035087719298|-0.2205623598412973|-0.0464777327935222| 94.16445905585196| -0.0979556118659379|   0.174016448710798|       3.0|              -0.25|               -0.4|         4.0| 0.3333333333333332|-0.3333333333333333|      5.0| 0.6666666666666667|     157.0|          43.0|          75.0|0.9403797656134104|  0.0021119584203697| -0.0184193784299903|               0.0|                0.0|                0.0|      Milwaukee, WI|                         33340|
|  2012-05-01|2012-07-31|Palo Alto, CA - D...|           Palo Alto|California|Single Family Res...|        1693500.0|  -0.0105170902716914|   0.2544444444444444|        1695000.0|   0.1027976577748861|   0.3576291549859831| 973.2058007993022|-0.0255553043110681| 0.1149633249912005| 960.8247422680414|  0.0565167569720628|  0.2396420309274698|      12.0|-0.1428571428571429| 0.3333333333333332|        11.0|-0.2142857142857143|            -0.3125|      1.0|              -0.75|      10.0|           0.0|           0.0|1.1214404010454233|  0.0095876129269008|  0.0716189804123954|               1.0| 0.0714285714285713| 0.2222222222222222|       San Jose, CA|                         41940|
|  2021-04-01|2021-06-30|Austin, TX - Nort...|              Austin|     Texas|     All Residential|         445000.0|   0.0084985835694051|   0.3650306748466256|         410000.0|   0.0249999999999999|   0.1021505376344085| 309.2020129403307|  0.036367640598379| 0.3872306526512132| 284.6872753414809|                 0.0|  0.2376015254872589|      65.0| 0.3541666666666667| 0.6666666666666667|        83.0| 0.1369863013698631| 0.3833333333333333|     24.0|-0.2727272727272727|      23.0|           0.0|          16.0|1.1054912870472806|  -0.024240630320752|  0.1152253496878457|               0.8|-0.0749999999999999|  0.441025641025641|         Austin, TX|                         12420|
|  2018-11-01|2019-01-31|Port Huron, MI - ...|          Port Huron|  Michigan|Single Family Res...|          63750.0|                  0.0|   0.6776315789473683|          69900.0|                  0.0|  -0.0667556742323097|  70.6952519379845|                0.0| 1.5896787025703794| 72.81341107871718|                 0.0| -0.0278583300571804|       2.0|                0.0|                1.0|         3.0|                0.0|                2.0|      2.0|                1.0|      28.0|           0.0|         -81.0|0.9120171673819742|                 0.0|  0.1936806834500272|               0.0|                0.0|                0.0|         Warren, MI|                         47664|
|  2019-02-01|2019-04-30|Minnetonka, MN - ...|          Minnetonka| Minnesota|           Townhouse|         590000.0|   0.1059044048734769|   0.0387323943661972|             NULL|                 NULL|                 NULL| 183.5147744945568|-0.0922931457234891|-0.0853339320526579|              NULL|                NULL|                NULL|       1.0|               -0.5|                0.0|        NULL|               NULL|               NULL|     NULL|               NULL|     119.0|         -47.0|         -64.0|0.9673717002787342| -0.0040442112103261| -0.0119386445488519|               0.0|                0.0|                0.0|    Minneapolis, MN|                         33460|
|  2021-04-01|2021-06-30|Madison, WI - Ber...|             Madison| Wisconsin|     All Residential|         245000.0|   0.0769230769230768|                 NULL|         224900.0|    0.022505114798818|                 NULL| 171.3369068359932| 0.0876866559124438|               NULL|159.05233380480905|   0.043594939923107|                NULL|       6.0|                0.5|               NULL|         5.0|-0.1666666666666666|               NULL|      1.0|               -0.5|      33.0|           0.0|          NULL|1.0945898814193789|  0.0012678548762274|                NULL|               1.0|                0.0|               NULL|        Madison, WI|                         31540|
|  2013-11-01|2014-01-31|Boynton Beach, FL...|       Boynton Beach|   Florida|           Townhouse|          55000.0|                 NULL|   0.4473684210526316|          42500.0|                 NULL|  -0.1826923076923077| 53.86875612144956|               NULL| 0.4473684210526314|48.295454545454554|                NULL| -0.0517373251748251|       1.0|               NULL|                0.0|         4.0|               NULL|                3.0|      5.0|               NULL|       2.0|          NULL|        -308.0|               1.0|                NULL|  0.1142191142191142|               0.0|               NULL|                0.0|West Palm Beach, FL|                         48424|
+------------+----------+--------------------+--------------------+----------+--------------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+----------+-------------------+-------------------+------------+-------------------+-------------------+---------+-------------------+----------+--------------+--------------+------------------+--------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------------------+
only showing top 20 rows

In [0]:
# showing remaining columns
df_filtered.columns

['period_begin',
 'period_end',
 'region',
 'city',
 'state',
 'property_type',
 'median_sale_price',
 'median_sale_price_mom',
 'median_sale_price_yoy',
 'median_list_price',
 'median_list_price_mom',
 'median_list_price_yoy',
 'median_ppsf',
 'median_ppsf_mom',
 'median_ppsf_yoy',
 'median_list_ppsf',
 'median_list_ppsf_mom',
 'median_list_ppsf_yoy',
 'homes_sold',
 'homes_sold_mom',
 'homes_sold_yoy',
 'new_listings',
 'new_listings_mom',
 'new_listings_yoy',
 'inventory',
 'inventory_mom',
 'median_dom',
 'median_dom_mom',
 'median_dom_yoy',
 'avg_sale_to_list',
 'avg_sale_to_list_mom',
 'avg_sale_to_list_yoy',
 'sold_above_list',
 'sold_above_list_mom',
 'sold_above_list_yoy',
 'parent_metro_region',
 'parent_metro_region_metro_code']

In [0]:
# checking number of columns
len(df_filtered.columns)

37

In [0]:
# filling null values in column with median of that particular columns as all having null values are numerical columns
from pyspark.sql.functions import when, col, lit
import math
target_columns = ['median_sale_price',
 'median_sale_price_mom',
 'median_sale_price_yoy',
 'median_list_price',
 'median_list_price_mom',
 'median_list_price_yoy',
 'median_ppsf',
 'median_ppsf_mom',
 'median_ppsf_yoy',
 'median_list_ppsf',
 'median_list_ppsf_mom',
 'median_list_ppsf_yoy',
 'homes_sold',
 'homes_sold_mom',
 'homes_sold_yoy',
 'new_listings',
 'new_listings_mom',
 'new_listings_yoy',
 'inventory',
 'inventory_mom',
 'median_dom',
 'median_dom_mom',
 'median_dom_yoy',
 'avg_sale_to_list',
 'avg_sale_to_list_mom',
 'avg_sale_to_list_yoy',
 'sold_above_list',
 'sold_above_list_mom',
 'sold_above_list_yoy']
from pyspark.sql.functions import when, col

medians = df_filtered.approxQuantile(target_columns, [0.5], 0.25)[0]
median_dict = dict(zip(target_columns, medians))
for column in target_columns:
    if column not in df_filtered.columns:
        print(f"Column '{column}' not found in DataFrame")
        continue
    median = df_filtered.approxQuantile(column, [0.5], 0.25)[0]
    df_filtered = df_filtered.withColumn(column, when(col(column).isNull(), median).otherwise(col(column)))
df_filtered.show()

+------------+----------+--------------------+--------------------+----------+--------------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+----------+-------------------+-------------------+------------+-------------------+-------------------+---------+-------------------+----------+--------------+--------------+------------------+--------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------------------+
|period_begin|period_end|              region|                city|     state|       property_type|median_sale_price|median_sale_price_mom|median_sale_price_yoy|median_list_price|median_list_price_mom|median_list_price_yoy|       median_ppsf|    median_ppsf_mom|    median_ppsf_yoy|  median_list_ppsf|median_list_ppsf_mom|median_list_ppsf_yoy|homes_sold|     homes_sold_mom|     homes_sold_yoy|new_listings|   new_listings_mom|   new_listings_yoy|inventory|      inventory_mom|median_dom|median_dom_mom|median_dom_yoy|  avg_sale_to_list|avg_sale_to_list_mom|avg_sale_to_list_yoy|   sold_above_list|sold_above_list_mom|sold_above_list_yoy|parent_metro_region|parent_metro_region_metro_code|
+------------+----------+--------------------+--------------------+----------+--------------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+----------+-------------------+-------------------+------------+-------------------+-------------------+---------+-------------------+----------+--------------+--------------+------------------+--------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------------------+
|  2020-08-01|2020-10-31|Navarre Beach, FL...|       Navarre Beach|   Florida|         Condo/Co-op|         467500.0|  -0.0603015075376884|  -0.0635953930896344|         614500.0|   0.1979725119407349|   0.2938204021475945| 373.4337084744223|-0.0040535998423328| 0.0047956748820348|397.82678720527593| -0.0029143385242941|   0.023708457128319|      64.0|-0.0588235294117647| 0.2307692307692308|        34.0|-0.2608695652173913|-0.2608695652173913|     52.0|-0.1612903225806451|      87.0|          -8.0|         -59.0| 0.971136933073761|  -0.002931804765634|  0.0029413133696073|          0.078125| 0.0045955882352941| 0.0588942307692307|      Pensacola, FL|                         37860|
|  2020-09-01|2020-11-30|Bayonet Point, FL...|       Bayonet Point|   Florida|Single Family Res...|         480000.0|    0.509433962264151|   0.0851063829787233|         499900.0|                  0.0|   0.0765021459227468|167.89087093389296| 0.2026899496459375| 0.0795218693508943|159.66145001596934|                 0.0|  0.0716185236176176|       1.0|                0.0|                0.0|         1.0|                0.0|                0.0|      1.0|                0.0|      88.0|          82.0|          -4.0|               1.0| -0.0095238095238094|  0.0043078271628211|               0.0|               -1.0|                0.0|          Tampa, FL|                         45300|
|  2014-02-01|2014-04-30|Scottsdale, AZ - ...|          Scottsdale|   Arizona|     All Residential|         543562.0|  -0.1161593495934959|   0.1115787321063395|         510000.0|  -0.0367362357163093|  -0.2012529365700861|200.76481835564053|-0.0352993087218708| 0.0372042663963694|220.80796900940783|  0.0304664367361358|  0.0066367035774688|      31.0| 0.2399999999999999|-0.2051282051282051|        45.0|-0.3181818181818182|               -0.4|     91.0|-0.0899999999999999|     138.0|         -16.0|          40.5|0.9687951134065864|  0.0061509792168357|  0.0045240304623883|0.1935483870967741| 0.1135483870967741| 0.1422663358147229|        Phoenix, AZ|                         38060|
|  2019-12-01|2020-02-29|Phoenix, AZ - Bel...|             Phoenix|   Arizona|           Townhouse|         185000.0|   0.0136986301369863|   0.1054675829100686|         185000.0|  -0.0387088560895195|   0.0192837465564739|140.12738853503186| 0.0100430416068866| 0.0112036771042804|147.21337579617835|   0.015731867992988|  0.0187327823691461|       7.0|                0.0|               0.75|         7.0| 0.1666666666666667| 0.1666666666666667|      2.0|                0.0|      42.0|           0.0|          10.0|0.9598083034823482|  0.0017362436386569| -0.0474084774054502|0.2857142857142857|                0.0|-0.4642857142857143|        Phoenix, AZ|                         38060|
|  2016-08-01|2016-10-31|Rochester, MN - C...|           Rochester| Minnesota|Multi-Family (2-4...|         180000.0|                  0.0|   0.0851063829787233|         270500.0|                  0.0|   0.0765021459227468| 89.10891089108911|                0.0| 0.0795218693508943| 152.7853048462741|                 0.0|  0.0716185236176176|       1.0|                0.0|                0.0|         7.0|                0.0|                0.0|      6.0|                0.0|      88.0|           0.0|          -4.0|0.9473684210526316|                 0.0|  0.0043078271628211|               0.0|                0.0|                0.0|      Rochester, MN|                         40340|
|  2017-12-01|2018-02-28|Tucson, AZ - Terr...|              Tucson|   Arizona|     All Residential|         155000.0|   0.0130718954248365|   0.1071428571428572|         157500.0|   0.0361842105263157|   0.0503501167055684|106.12569610182976|-0.0097066068570222| 0.1174784524729757| 94.50645353911166| -0.0039841592225797| -0.0833426618902959|      15.0|                0.0|-0.1666666666666666|        16.0|-0.1578947368421053|-0.1111111111111111|     19.0|-0.1363636363636363|      43.0|          -1.0|         -23.5|0.9832026584946482| -0.0192617220568909|  0.0220755169243056|0.2666666666666666|-0.0666666666666666|-0.0111111111111111|         Tucson, AZ|                         46060|
|  2021-01-01|2021-03-31|Tamalpais-Homeste...|Tamalpais-Homeste...|California|Single Family Res...|        1135000.0|   0.2270270270270269|   0.0460829493087557|         997000.0|   0.1139664804469273|   -0.500250626566416| 759.0353627824428|                0.0|  1.274307801295596| 932.5992659325992|  0.2824763761582933|  0.6010789402602267|       2.0|               -0.5|                1.0|         3.0|                0.0|                2.0|      2.0|                0.0|       6.0|         -37.5|        -227.0| 1.201285420507332|    0.12472259591331|  0.4235076427295542|               1.0|                0.5|                1.0|     San Rafael, CA|                         42034|
|  2017-02-01|2017-04-30|Honolulu, HI - Ma...|            Honolulu|    Hawaii|     All Residential|         370000.0|   0.0068027210884353|   0.0320781032078103|         359000.0|  -0.0388219544846051|  -0.0191256830601093| 555.1924764572856|-0.0025605921616194| 0.0248087937593763| 532.0284697508897| -0.0396638950664828| -0.0125982637926006|     100.0| 0.0204081632653061| 0.1111111111111111|       117.0|-0.0999999999999999|         -0.0859375|    119.0|  0.017094017094017|      69.0|          -1.0|           9.0|0.9711040492757732|   1.709397284667E-4| -0.0094690664580816|              0.19| 0.0165306122448979|-0.0322222222222222| Urban Honolulu, HI|                         46520|
|  2017-11-01|2018-01-31|Tinley Park, IL -...|         Tinley Park|  Illinois|Single Family Res...|         212500.0|   0.1724137931034481|   0.3449367088607595|         235000.0|   0.2374934175882044|   0.6720028459622911|137.09677419354838| 0.0240141354108103| 0.0062724014336916|196.48829431438128|  0.0222771710511253|   1.159217369501095|       5.0|               0.25|-0.4444444444444444|         1.0|                0.0|               -0.5|      1.0|               -0.5|      79.0|           3.5|         -36.0|0.9871385220889678|  -0.008793364146696|  0.0267817232637811|               0.4|-0.0999999999999999| 0.2888888888888889|        Chicago, IL|                         16984|
|  2014-05-01|2014-07-31|Point Pleasant Be...|Point Pleasant Beach|New Jersey|     All Residential|         410000.0|   -0.020310633213859|   0.0186335403726707|         474450.0|    9.493670886076E-4|   -0.215136476426799|             375.0| 0.1794871794871795| 0.5442785833386101| 274.1867342627799| -0.4049484917230317| -0.2477678409336947|       5.0|-0.1666666666666666|               0.25|         4.0|                0.0|                0.0|      6.0| 0.1999999999999999|     137.0|          -5.0|         -29.0|0.9670919697141596|  -8.628633574564E-4|  0.0482075540714816|               0.2|-0.1333333333333333|                0.2|  New Brunswick, NJ|                         35154|
|  2015-01-01|2015-03-31|Fair Plain, MI - ...|          Fair Plain|  Michigan|     All Residential|         282454.5|  -0.2789929802169751|    1.882188775510204|         242250.0|   -0.191151919866444|   0.0312899106002553|123.11296597046493|-0.1641189544061788| 0.2776110856322737| 105.9966216216216| -0.2143155258764608|  0.1267499539769654|       2.0|                0.0|                1.0|         2.0|                1.0|                1.0|      3.0|                0.0|     704.5|       -2673.0|       -1559.5|0.9404836788558756| -0.0020998824855092|  0.0062606092657897|               0.0|                0.0|                0.0|          Niles, MI|                         35660|
|  2016-08-01|2016-10-31|Columbus, OH - Wi...|            Columbus|      Ohio|     All Residential|         131000.0|  -0.0150375939849624|                0.048|         131900.0|   0.0153964588144726|   0.0723577235772356| 89.76866217963251|-0.0055367535490523| 0.1397029350326142| 95.79646017699113| -0.0183553743661132|  0.1687168141592918|      24.0|              -0.04|  0.411764705882353|        19.0| 0.1176470588235294| 0.1176470588235294|     11.0|                0.1|      52.0|          -3.0|          -6.0| 0.999818607685578|  0.0146480670376447|  0.0188446056285686|0.3333333333333333|-0.0266666666666666| 0.0980392156862744|       Columbus, OH|                         18140|
|  2019-10-01|2019-12-31|Oxnard, CA - Sout...|              Oxnard|California|Multi-Family (2-4...|         797500.0|   0.5047169811320755|   0.0851063829787233|         872500.0|                  0.0|   0.0765021459227468|  231.686976307002| -0.171172628154574| 0.0795218693508943| 249.4915507114364|                 0.0|  0.0716185236176176|       4.0|                3.0|                0.0|         6.0|                0.5|                0.0|      4.0|                0.0|      21.0|           0.0|          -4.0| 1.012729449321628|  0.0312479678401466|  0.0043078271628211|               0.5|                0.5|                0.0|         Oxnard, CA|                         37100|
|  2019-01-01|2019-03-31|Milwaukee, WI - G...|           Milwaukee| Wisconsin|Single Family Res...|          72500.0|  -0.1243961352657004|  -0.1761363636363636|         102450.0|  -0.1087429317094389|   0.0301659125188535| 56.14035087719298|-0.2205623598412973|-0.0464777327935222| 94.16445905585196| -0.0979556118659379|   0.174016448710798|       3.0|              -0.25|               -0.4|         4.0| 0.3333333333333332|-0.3333333333333333|      5.0| 0.6666666666666667|     157.0|          43.0|          75.0|0.9403797656134104|  0.0021119584203697| -0.0184193784299903|               0.0|                0.0|                0.0|      Milwaukee, WI|                         33340|
|  2012-05-01|2012-07-31|Palo Alto, CA - D...|           Palo Alto|California|Single Family Res...|        1693500.0|  -0.0105170902716914|   0.2544444444444444|        1695000.0|   0.1027976577748861|   0.3576291549859831| 973.2058007993022|-0.0255553043110681| 0.1149633249912005| 960.8247422680414|  0.0565167569720628|  0.2396420309274698|      12.0|-0.1428571428571429| 0.3333333333333332|        11.0|-0.2142857142857143|            -0.3125|      1.0|              -0.75|      10.0|           0.0|           0.0|1.1214404010454233|  0.0095876129269008|  0.0716189804123954|               1.0| 0.0714285714285713| 0.2222222222222222|       San Jose, CA|                         41940|
|  2021-04-01|2021-06-30|Austin, TX - Nort...|              Austin|     Texas|     All Residential|         445000.0|   0.0084985835694051|   0.3650306748466256|         410000.0|   0.0249999999999999|   0.1021505376344085| 309.2020129403307|  0.036367640598379| 0.3872306526512132| 284.6872753414809|                 0.0|  0.2376015254872589|      65.0| 0.3541666666666667| 0.6666666666666667|        83.0| 0.1369863013698631| 0.3833333333333333|     24.0|-0.2727272727272727|      23.0|           0.0|          16.0|1.1054912870472806|  -0.024240630320752|  0.1152253496878457|               0.8|-0.0749999999999999|  0.441025641025641|         Austin, TX|                         12420|
|  2018-11-01|2019-01-31|Port Huron, MI - ...|          Port Huron|  Michigan|Single Family Res...|          63750.0|                  0.0|   0.6776315789473683|          69900.0|                  0.0|  -0.0667556742323097|  70.6952519379845|                0.0| 1.5896787025703794| 72.81341107871718|                 0.0| -0.0278583300571804|       2.0|                0.0|                1.0|         3.0|                0.0|                2.0|      2.0|                1.0|      28.0|           0.0|         -81.0|0.9120171673819742|                 0.0|  0.1936806834500272|               0.0|                0.0|                0.0|         Warren, MI|                         47664|
|  2019-02-01|2019-04-30|Minnetonka, MN - ...|          Minnetonka| Minnesota|           Townhouse|         590000.0|   0.1059044048734769|   0.0387323943661972|         270500.0|                  0.0|   0.0765021459227468| 183.5147744945568|-0.0922931457234891|-0.0853339320526579| 152.7853048462741|                 0.0|  0.0716185236176176|       1.0|               -0.5|                0.0|         7.0|                0.0|                0.0|      6.0|                0.0|     119.0|         -47.0|         -64.0|0.9673717002787342| -0.0040442112103261| -0.0119386445488519|               0.0|                0.0|                0.0|    Minneapolis, MN|                         33460|
|  2021-04-01|2021-06-30|Madison, WI - Ber...|             Madison| Wisconsin|     All Residential|         245000.0|   0.0769230769230768|   0.0851063829787233|         224900.0|    0.022505114798818|   0.0765021459227468| 171.3369068359932| 0.0876866559124438| 0.0795218693508943|159.05233380480905|   0.043594939923107|  0.0716185236176176|       6.0|                0.5|                0.0|         5.0|-0.1666666666666666|                0.0|      1.0|               -0.5|      33.0|           0.0|          -4.0|1.0945898814193789|  0.0012678548762274|  0.0043078271628211|               1.0|                0.0|                0.0|        Madison, WI|                         31540|
|  2013-11-01|2014-01-31|Boynton Beach, FL...|       Boynton Beach|   Florida|           Townhouse|          55000.0|                  0.0|   0.4473684210526316|          42500.0|                  0.0|  -0.1826923076923077| 53.86875612144956|                0.0| 0.4473684210526314|48.295454545454554|                 0.0| -0.0517373251748251|       1.0|                0.0|                0.0|         4.0|                0.0|                3.0|      5.0|                0.0|       2.0|           0.0|        -308.0|               1.0|                 0.0|  0.1142191142191142|               0.0|                0.0|                0.0|West Palm Beach, FL|                         48424|
+------------+----------+--------------------+--------------------+----------+--------------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+----------+-------------------+-------------------+------------+-------------------+-------------------+---------+-------------------+----------+--------------+--------------+------------------+--------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------------------+
only showing top 20 rows

In [0]:
# checking percentage of null values in each column
from pyspark.sql.functions import col, sum
total_rows = df_filtered.count()
null_percentage_per_column = df_filtered.select([
    (sum(col(c).isNull().cast("int")) / total_rows * 100).alias(c + '_null_percentage')
    for c in df_filtered.columns
]).show()

+----------------------------+--------------------------+----------------------+--------------------+---------------------+-----------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------+-------------------------------+-------------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+----------------------------+--------------------------------+--------------------------------+-------------------------+-----------------------------+--------------------------+------------------------------+------------------------------+--------------------------------+------------------------------------+------------------------------------+-------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+----------------------------------------------+
|period_begin_null_percentage|period_end_null_percentage|region_null_percentage|city_null_percentage|state_null_percentage|property_type_null_percentage|median_sale_price_null_percentage|median_sale_price_mom_null_percentage|median_sale_price_yoy_null_percentage|median_list_price_null_percentage|median_list_price_mom_null_percentage|median_list_price_yoy_null_percentage|median_ppsf_null_percentage|median_ppsf_mom_null_percentage|median_ppsf_yoy_null_percentage|median_list_ppsf_null_percentage|median_list_ppsf_mom_null_percentage|median_list_ppsf_yoy_null_percentage|homes_sold_null_percentage|homes_sold_mom_null_percentage|homes_sold_yoy_null_percentage|new_listings_null_percentage|new_listings_mom_null_percentage|new_listings_yoy_null_percentage|inventory_null_percentage|inventory_mom_null_percentage|median_dom_null_percentage|median_dom_mom_null_percentage|median_dom_yoy_null_percentage|avg_sale_to_list_null_percentage|avg_sale_to_list_mom_null_percentage|avg_sale_to_list_yoy_null_percentage|sold_above_list_null_percentage|sold_above_list_mom_null_percentage|sold_above_list_yoy_null_percentage|parent_metro_region_null_percentage|parent_metro_region_metro_code_null_percentage|
+----------------------------+--------------------------+----------------------+--------------------+---------------------+-----------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------+-------------------------------+-------------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+----------------------------+--------------------------------+--------------------------------+-------------------------+-----------------------------+--------------------------+------------------------------+------------------------------+--------------------------------+------------------------------------+------------------------------------+-------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+----------------------------------------------+
|                         0.0|                       0.0|                   0.0|                 0.0|                  0.0|                          0.0|                              0.0|                                  0.0|                                  0.0|                              0.0|                                  0.0|                                  0.0|                        0.0|                            0.0|                            0.0|                             0.0|                                 0.0|                                 0.0|                       0.0|                           0.0|                           0.0|                         0.0|                             0.0|                             0.0|                      0.0|                          0.0|                       0.0|                           0.0|                           0.0|                             0.0|                                 0.0|                                 0.0|                            0.0|                                0.0|                                0.0|                                0.0|                                           0.0|
+----------------------------+--------------------------+----------------------+--------------------+---------------------+-----------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------+-------------------------------+-------------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+----------------------------+--------------------------------+--------------------------------+-------------------------+-----------------------------+--------------------------+------------------------------+------------------------------+--------------------------------+------------------------------------+------------------------------------+-------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+----------------------------------------------+

In [0]:
# printing schema of all columns
df_filtered.printSchema()

root
 |-- period_begin: date (nullable = true)
 |-- period_end: date (nullable = true)
 |-- region: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- median_sale_price: double (nullable = true)
 |-- median_sale_price_mom: double (nullable = true)
 |-- median_sale_price_yoy: double (nullable = true)
 |-- median_list_price: double (nullable = true)
 |-- median_list_price_mom: double (nullable = true)
 |-- median_list_price_yoy: double (nullable = true)
 |-- median_ppsf: double (nullable = true)
 |-- median_ppsf_mom: double (nullable = true)
 |-- median_ppsf_yoy: double (nullable = true)
 |-- median_list_ppsf: double (nullable = true)
 |-- median_list_ppsf_mom: double (nullable = true)
 |-- median_list_ppsf_yoy: double (nullable = true)
 |-- homes_sold: double (nullable = true)
 |-- homes_sold_mom: double (nullable = true)
 |-- homes_sold_yoy: double (nullable = true)
 |-- new_listings: double (nullable = true)
 |-- new_listings_mom: double (nullable = true)
 |-- new_listings_yoy: double (nullable = true)
 |-- inventory: double (nullable = true)
 |-- inventory_mom: double (nullable = true)
 |-- median_dom: double (nullable = true)
 |-- median_dom_mom: double (nullable = true)
 |-- median_dom_yoy: double (nullable = true)
 |-- avg_sale_to_list: double (nullable = true)
 |-- avg_sale_to_list_mom: double (nullable = true)
 |-- avg_sale_to_list_yoy: double (nullable = true)
 |-- sold_above_list: double (nullable = true)
 |-- sold_above_list_mom: double (nullable = true)
 |-- sold_above_list_yoy: double (nullable = true)
 |-- parent_metro_region: string (nullable = true)
 |-- parent_metro_region_metro_code: integer (nullable = true)

In [0]:
# checking duplicate rows in dataframe
from pyspark.sql.functions import col
duplicates_count = df.groupBy(df.columns).count().filter(col('count') > 1).count()
print("Number of duplicate rows:", duplicates_count)

Number of duplicate rows: 1150

In [0]:
# dropping duplicate rows 
df = df.dropDuplicates()

In [0]:
from pyspark.sql.functions import col, sum

# Calculate the total number of rows in the DataFrame
total_rows = df_filtered.count()

# Calculate the number of null values per column and convert to percentage
null_percentage_per_column = df_filtered.select([
    (sum(col(c).isNull().cast("int")) / total_rows * 100).alias(c + '_null_percentage')
    for c in df_filtered.columns
]).show()

+----------------------------+--------------------------+----------------------+--------------------+---------------------+-----------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------+-------------------------------+-------------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+----------------------------+--------------------------------+--------------------------------+-------------------------+-----------------------------+--------------------------+------------------------------+------------------------------+--------------------------------+------------------------------------+------------------------------------+-------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+----------------------------------------------+
|period_begin_null_percentage|period_end_null_percentage|region_null_percentage|city_null_percentage|state_null_percentage|property_type_null_percentage|median_sale_price_null_percentage|median_sale_price_mom_null_percentage|median_sale_price_yoy_null_percentage|median_list_price_null_percentage|median_list_price_mom_null_percentage|median_list_price_yoy_null_percentage|median_ppsf_null_percentage|median_ppsf_mom_null_percentage|median_ppsf_yoy_null_percentage|median_list_ppsf_null_percentage|median_list_ppsf_mom_null_percentage|median_list_ppsf_yoy_null_percentage|homes_sold_null_percentage|homes_sold_mom_null_percentage|homes_sold_yoy_null_percentage|new_listings_null_percentage|new_listings_mom_null_percentage|new_listings_yoy_null_percentage|inventory_null_percentage|inventory_mom_null_percentage|median_dom_null_percentage|median_dom_mom_null_percentage|median_dom_yoy_null_percentage|avg_sale_to_list_null_percentage|avg_sale_to_list_mom_null_percentage|avg_sale_to_list_yoy_null_percentage|sold_above_list_null_percentage|sold_above_list_mom_null_percentage|sold_above_list_yoy_null_percentage|parent_metro_region_null_percentage|parent_metro_region_metro_code_null_percentage|
+----------------------------+--------------------------+----------------------+--------------------+---------------------+-----------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------+-------------------------------+-------------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+----------------------------+--------------------------------+--------------------------------+-------------------------+-----------------------------+--------------------------+------------------------------+------------------------------+--------------------------------+------------------------------------+------------------------------------+-------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+----------------------------------------------+
|                         0.0|                       0.0|                   0.0|                 0.0|                  0.0|                          0.0|                              0.0|                                  0.0|                                  0.0|                              0.0|                                  0.0|                                  0.0|                        0.0|                            0.0|                            0.0|                             0.0|                                 0.0|                                 0.0|                       0.0|                           0.0|                           0.0|                         0.0|                             0.0|                             0.0|                      0.0|                          0.0|                       0.0|                           0.0|                           0.0|                             0.0|                                 0.0|                                 0.0|                            0.0|                                0.0|                                0.0|                                0.0|                                           0.0|
+----------------------------+--------------------------+----------------------+--------------------+---------------------+-----------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------------+-------------------------------------+-------------------------------------+---------------------------+-------------------------------+-------------------------------+--------------------------------+------------------------------------+------------------------------------+--------------------------+------------------------------+------------------------------+----------------------------+--------------------------------+--------------------------------+-------------------------+-----------------------------+--------------------------+------------------------------+------------------------------+--------------------------------+------------------------------------+------------------------------------+-------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+----------------------------------------------+

In [0]:
# rechecking as there are any null values and checking values
df_filtered.show()

+------------+----------+--------------------+--------------------+----------+--------------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+----------+-------------------+-------------------+------------+-------------------+-------------------+---------+-------------------+----------+--------------+--------------+------------------+--------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------------------+
|period_begin|period_end|              region|                city|     state|       property_type|median_sale_price|median_sale_price_mom|median_sale_price_yoy|median_list_price|median_list_price_mom|median_list_price_yoy|       median_ppsf|    median_ppsf_mom|    median_ppsf_yoy|  median_list_ppsf|median_list_ppsf_mom|median_list_ppsf_yoy|homes_sold|     homes_sold_mom|     homes_sold_yoy|new_listings|   new_listings_mom|   new_listings_yoy|inventory|      inventory_mom|median_dom|median_dom_mom|median_dom_yoy|  avg_sale_to_list|avg_sale_to_list_mom|avg_sale_to_list_yoy|   sold_above_list|sold_above_list_mom|sold_above_list_yoy|parent_metro_region|parent_metro_region_metro_code|
+------------+----------+--------------------+--------------------+----------+--------------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+----------+-------------------+-------------------+------------+-------------------+-------------------+---------+-------------------+----------+--------------+--------------+------------------+--------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------------------+
|  2020-08-01|2020-10-31|Navarre Beach, FL...|       Navarre Beach|   Florida|         Condo/Co-op|         467500.0|  -0.0603015075376884|  -0.0635953930896344|         614500.0|   0.1979725119407349|   0.2938204021475945| 373.4337084744223|-0.0040535998423328| 0.0047956748820348|397.82678720527593| -0.0029143385242941|   0.023708457128319|      64.0|-0.0588235294117647| 0.2307692307692308|        34.0|-0.2608695652173913|-0.2608695652173913|     52.0|-0.1612903225806451|      87.0|          -8.0|         -59.0| 0.971136933073761|  -0.002931804765634|  0.0029413133696073|          0.078125| 0.0045955882352941| 0.0588942307692307|      Pensacola, FL|                         37860|
|  2020-09-01|2020-11-30|Bayonet Point, FL...|       Bayonet Point|   Florida|Single Family Res...|         480000.0|    0.509433962264151|   0.0851063829787233|         499900.0|                  0.0|   0.0765021459227468|167.89087093389296| 0.2026899496459375| 0.0795218693508943|159.66145001596934|                 0.0|  0.0716185236176176|       1.0|                0.0|                0.0|         1.0|                0.0|                0.0|      1.0|                0.0|      88.0|          82.0|          -4.0|               1.0| -0.0095238095238094|  0.0043078271628211|               0.0|               -1.0|                0.0|          Tampa, FL|                         45300|
|  2014-02-01|2014-04-30|Scottsdale, AZ - ...|          Scottsdale|   Arizona|     All Residential|         543562.0|  -0.1161593495934959|   0.1115787321063395|         510000.0|  -0.0367362357163093|  -0.2012529365700861|200.76481835564053|-0.0352993087218708| 0.0372042663963694|220.80796900940783|  0.0304664367361358|  0.0066367035774688|      31.0| 0.2399999999999999|-0.2051282051282051|        45.0|-0.3181818181818182|               -0.4|     91.0|-0.0899999999999999|     138.0|         -16.0|          40.5|0.9687951134065864|  0.0061509792168357|  0.0045240304623883|0.1935483870967741| 0.1135483870967741| 0.1422663358147229|        Phoenix, AZ|                         38060|
|  2019-12-01|2020-02-29|Phoenix, AZ - Bel...|             Phoenix|   Arizona|           Townhouse|         185000.0|   0.0136986301369863|   0.1054675829100686|         185000.0|  -0.0387088560895195|   0.0192837465564739|140.12738853503186| 0.0100430416068866| 0.0112036771042804|147.21337579617835|   0.015731867992988|  0.0187327823691461|       7.0|                0.0|               0.75|         7.0| 0.1666666666666667| 0.1666666666666667|      2.0|                0.0|      42.0|           0.0|          10.0|0.9598083034823482|  0.0017362436386569| -0.0474084774054502|0.2857142857142857|                0.0|-0.4642857142857143|        Phoenix, AZ|                         38060|
|  2016-08-01|2016-10-31|Rochester, MN - C...|           Rochester| Minnesota|Multi-Family (2-4...|         180000.0|                  0.0|   0.0851063829787233|         270500.0|                  0.0|   0.0765021459227468| 89.10891089108911|                0.0| 0.0795218693508943| 152.7853048462741|                 0.0|  0.0716185236176176|       1.0|                0.0|                0.0|         7.0|                0.0|                0.0|      6.0|                0.0|      88.0|           0.0|          -4.0|0.9473684210526316|                 0.0|  0.0043078271628211|               0.0|                0.0|                0.0|      Rochester, MN|                         40340|
|  2017-12-01|2018-02-28|Tucson, AZ - Terr...|              Tucson|   Arizona|     All Residential|         155000.0|   0.0130718954248365|   0.1071428571428572|         157500.0|   0.0361842105263157|   0.0503501167055684|106.12569610182976|-0.0097066068570222| 0.1174784524729757| 94.50645353911166| -0.0039841592225797| -0.0833426618902959|      15.0|                0.0|-0.1666666666666666|        16.0|-0.1578947368421053|-0.1111111111111111|     19.0|-0.1363636363636363|      43.0|          -1.0|         -23.5|0.9832026584946482| -0.0192617220568909|  0.0220755169243056|0.2666666666666666|-0.0666666666666666|-0.0111111111111111|         Tucson, AZ|                         46060|
|  2021-01-01|2021-03-31|Tamalpais-Homeste...|Tamalpais-Homeste...|California|Single Family Res...|        1135000.0|   0.2270270270270269|   0.0460829493087557|         997000.0|   0.1139664804469273|   -0.500250626566416| 759.0353627824428|                0.0|  1.274307801295596| 932.5992659325992|  0.2824763761582933|  0.6010789402602267|       2.0|               -0.5|                1.0|         3.0|                0.0|                2.0|      2.0|                0.0|       6.0|         -37.5|        -227.0| 1.201285420507332|    0.12472259591331|  0.4235076427295542|               1.0|                0.5|                1.0|     San Rafael, CA|                         42034|
|  2017-02-01|2017-04-30|Honolulu, HI - Ma...|            Honolulu|    Hawaii|     All Residential|         370000.0|   0.0068027210884353|   0.0320781032078103|         359000.0|  -0.0388219544846051|  -0.0191256830601093| 555.1924764572856|-0.0025605921616194| 0.0248087937593763| 532.0284697508897| -0.0396638950664828| -0.0125982637926006|     100.0| 0.0204081632653061| 0.1111111111111111|       117.0|-0.0999999999999999|         -0.0859375|    119.0|  0.017094017094017|      69.0|          -1.0|           9.0|0.9711040492757732|   1.709397284667E-4| -0.0094690664580816|              0.19| 0.0165306122448979|-0.0322222222222222| Urban Honolulu, HI|                         46520|
|  2017-11-01|2018-01-31|Tinley Park, IL -...|         Tinley Park|  Illinois|Single Family Res...|         212500.0|   0.1724137931034481|   0.3449367088607595|         235000.0|   0.2374934175882044|   0.6720028459622911|137.09677419354838| 0.0240141354108103| 0.0062724014336916|196.48829431438128|  0.0222771710511253|   1.159217369501095|       5.0|               0.25|-0.4444444444444444|         1.0|                0.0|               -0.5|      1.0|               -0.5|      79.0|           3.5|         -36.0|0.9871385220889678|  -0.008793364146696|  0.0267817232637811|               0.4|-0.0999999999999999| 0.2888888888888889|        Chicago, IL|                         16984|
|  2014-05-01|2014-07-31|Point Pleasant Be...|Point Pleasant Beach|New Jersey|     All Residential|         410000.0|   -0.020310633213859|   0.0186335403726707|         474450.0|    9.493670886076E-4|   -0.215136476426799|             375.0| 0.1794871794871795| 0.5442785833386101| 274.1867342627799| -0.4049484917230317| -0.2477678409336947|       5.0|-0.1666666666666666|               0.25|         4.0|                0.0|                0.0|      6.0| 0.1999999999999999|     137.0|          -5.0|         -29.0|0.9670919697141596|  -8.628633574564E-4|  0.0482075540714816|               0.2|-0.1333333333333333|                0.2|  New Brunswick, NJ|                         35154|
|  2015-01-01|2015-03-31|Fair Plain, MI - ...|          Fair Plain|  Michigan|     All Residential|         282454.5|  -0.2789929802169751|    1.882188775510204|         242250.0|   -0.191151919866444|   0.0312899106002553|123.11296597046493|-0.1641189544061788| 0.2776110856322737| 105.9966216216216| -0.2143155258764608|  0.1267499539769654|       2.0|                0.0|                1.0|         2.0|                1.0|                1.0|      3.0|                0.0|     704.5|       -2673.0|       -1559.5|0.9404836788558756| -0.0020998824855092|  0.0062606092657897|               0.0|                0.0|                0.0|          Niles, MI|                         35660|
|  2016-08-01|2016-10-31|Columbus, OH - Wi...|            Columbus|      Ohio|     All Residential|         131000.0|  -0.0150375939849624|                0.048|         131900.0|   0.0153964588144726|   0.0723577235772356| 89.76866217963251|-0.0055367535490523| 0.1397029350326142| 95.79646017699113| -0.0183553743661132|  0.1687168141592918|      24.0|              -0.04|  0.411764705882353|        19.0| 0.1176470588235294| 0.1176470588235294|     11.0|                0.1|      52.0|          -3.0|          -6.0| 0.999818607685578|  0.0146480670376447|  0.0188446056285686|0.3333333333333333|-0.0266666666666666| 0.0980392156862744|       Columbus, OH|                         18140|
|  2019-10-01|2019-12-31|Oxnard, CA - Sout...|              Oxnard|California|Multi-Family (2-4...|         797500.0|   0.5047169811320755|   0.0851063829787233|         872500.0|                  0.0|   0.0765021459227468|  231.686976307002| -0.171172628154574| 0.0795218693508943| 249.4915507114364|                 0.0|  0.0716185236176176|       4.0|                3.0|                0.0|         6.0|                0.5|                0.0|      4.0|                0.0|      21.0|           0.0|          -4.0| 1.012729449321628|  0.0312479678401466|  0.0043078271628211|               0.5|                0.5|                0.0|         Oxnard, CA|                         37100|
|  2019-01-01|2019-03-31|Milwaukee, WI - G...|           Milwaukee| Wisconsin|Single Family Res...|          72500.0|  -0.1243961352657004|  -0.1761363636363636|         102450.0|  -0.1087429317094389|   0.0301659125188535| 56.14035087719298|-0.2205623598412973|-0.0464777327935222| 94.16445905585196| -0.0979556118659379|   0.174016448710798|       3.0|              -0.25|               -0.4|         4.0| 0.3333333333333332|-0.3333333333333333|      5.0| 0.6666666666666667|     157.0|          43.0|          75.0|0.9403797656134104|  0.0021119584203697| -0.0184193784299903|               0.0|                0.0|                0.0|      Milwaukee, WI|                         33340|
|  2012-05-01|2012-07-31|Palo Alto, CA - D...|           Palo Alto|California|Single Family Res...|        1693500.0|  -0.0105170902716914|   0.2544444444444444|        1695000.0|   0.1027976577748861|   0.3576291549859831| 973.2058007993022|-0.0255553043110681| 0.1149633249912005| 960.8247422680414|  0.0565167569720628|  0.2396420309274698|      12.0|-0.1428571428571429| 0.3333333333333332|        11.0|-0.2142857142857143|            -0.3125|      1.0|              -0.75|      10.0|           0.0|           0.0|1.1214404010454233|  0.0095876129269008|  0.0716189804123954|               1.0| 0.0714285714285713| 0.2222222222222222|       San Jose, CA|                         41940|
|  2021-04-01|2021-06-30|Austin, TX - Nort...|              Austin|     Texas|     All Residential|         445000.0|   0.0084985835694051|   0.3650306748466256|         410000.0|   0.0249999999999999|   0.1021505376344085| 309.2020129403307|  0.036367640598379| 0.3872306526512132| 284.6872753414809|                 0.0|  0.2376015254872589|      65.0| 0.3541666666666667| 0.6666666666666667|        83.0| 0.1369863013698631| 0.3833333333333333|     24.0|-0.2727272727272727|      23.0|           0.0|          16.0|1.1054912870472806|  -0.024240630320752|  0.1152253496878457|               0.8|-0.0749999999999999|  0.441025641025641|         Austin, TX|                         12420|
|  2018-11-01|2019-01-31|Port Huron, MI - ...|          Port Huron|  Michigan|Single Family Res...|          63750.0|                  0.0|   0.6776315789473683|          69900.0|                  0.0|  -0.0667556742323097|  70.6952519379845|                0.0| 1.5896787025703794| 72.81341107871718|                 0.0| -0.0278583300571804|       2.0|                0.0|                1.0|         3.0|                0.0|                2.0|      2.0|                1.0|      28.0|           0.0|         -81.0|0.9120171673819742|                 0.0|  0.1936806834500272|               0.0|                0.0|                0.0|         Warren, MI|                         47664|
|  2019-02-01|2019-04-30|Minnetonka, MN - ...|          Minnetonka| Minnesota|           Townhouse|         590000.0|   0.1059044048734769|   0.0387323943661972|         270500.0|                  0.0|   0.0765021459227468| 183.5147744945568|-0.0922931457234891|-0.0853339320526579| 152.7853048462741|                 0.0|  0.0716185236176176|       1.0|               -0.5|                0.0|         7.0|                0.0|                0.0|      6.0|                0.0|     119.0|         -47.0|         -64.0|0.9673717002787342| -0.0040442112103261| -0.0119386445488519|               0.0|                0.0|                0.0|    Minneapolis, MN|                         33460|
|  2021-04-01|2021-06-30|Madison, WI - Ber...|             Madison| Wisconsin|     All Residential|         245000.0|   0.0769230769230768|   0.0851063829787233|         224900.0|    0.022505114798818|   0.0765021459227468| 171.3369068359932| 0.0876866559124438| 0.0795218693508943|159.05233380480905|   0.043594939923107|  0.0716185236176176|       6.0|                0.5|                0.0|         5.0|-0.1666666666666666|                0.0|      1.0|               -0.5|      33.0|           0.0|          -4.0|1.0945898814193789|  0.0012678548762274|  0.0043078271628211|               1.0|                0.0|                0.0|        Madison, WI|                         31540|
|  2013-11-01|2014-01-31|Boynton Beach, FL...|       Boynton Beach|   Florida|           Townhouse|          55000.0|                  0.0|   0.4473684210526316|          42500.0|                  0.0|  -0.1826923076923077| 53.86875612144956|                0.0| 0.4473684210526314|48.295454545454554|                 0.0| -0.0517373251748251|       1.0|                0.0|                0.0|         4.0|                0.0|                3.0|      5.0|                0.0|       2.0|           0.0|        -308.0|               1.0|                 0.0|  0.1142191142191142|               0.0|                0.0|                0.0|West Palm Beach, FL|                         48424|
+------------+----------+--------------------+--------------------+----------+--------------------+-----------------+---------------------+---------------------+-----------------+---------------------+---------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+----------+-------------------+-------------------+------------+-------------------+-------------------+---------+-------------------+----------+--------------+--------------+------------------+--------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------------------+
only showing top 20 rows

In [0]:
# Storing processed data in blob container 
new_storage_account_name = "usprojectprod"
new_storage_account_access_key = "XeZ0aEiNiRwE4E9T0Vs9K6IoK+8eBSlwkLwauaa3jUAbvrat57FTUM/S6iakh4LvPF9Nt0k+Tb2i+ASt0nmk9Q=="
new_container_name = "processeddata"
new_file_path = "US_POWERBI.csv"

spark.conf.set(
    "fs.azure.account.key." + new_storage_account_name + ".blob.core.windows.net",
    new_storage_account_access_key
)
azure_blob_storage_path = "wasbs://processeddata@usprojectprod.blob.core.windows.net/"
df_filtered.repartition(1).write.mode("overwrite").option("header", "true").csv(azure_blob_storage_path)

# PYSQL

In [0]:
# creating temperory table
df_filtered.createOrReplaceTempView('US_REAL_ESTATE')

In [0]:
# query for max sale price and min sale price
result = spark.sql("SELECT MAX(median_sale_price) as maximum_sale_price, MIN(median_sale_price) as Minimum_sale_price FROM US_REAL_ESTATE")

result.show()

+------------------+------------------+
|maximum_sale_price|Minimum_sale_price|
+------------------+------------------+
|          2.3957E8|               1.0|
+------------------+------------------+

max_saleprice = 239,570,000

In [0]:
# querying avg sale price 
result = spark.sql("SELECT avg(median_sale_price) as average_sale_price FROM US_REAL_ESTATE")

result.show()

+------------------+
|average_sale_price|
+------------------+
|383798.26077124645|
+------------------+

In [0]:
# # querying avg sale price for each property type
result = spark.sql("SELECT avg(median_sale_price) as average_sale_price,property_type FROM US_REAL_ESTATE GROUP BY property_type")
result.show()

+------------------+--------------------+
|average_sale_price|       property_type|
+------------------+--------------------+
| 360700.5281633288|           Townhouse|
|417941.83691230125|Single Family Res...|
|303202.09799277794|         Condo/Co-op|
|418530.58684981195|Multi-Family (2-4...|
| 376556.2389648021|     All Residential|
+------------------+--------------------+

In [0]:
# # querying avg sale price for each year
result = spark.sql("SELECT avg(median_sale_price) as average_sale_price,year(period_end) FROM US_REAL_ESTATE GROUP BY year(period_end) ORDER BY year(period_end)")

result.show()

+------------------+----------------+
|average_sale_price|year(period_end)|
+------------------+----------------+
| 263449.7751705706|            2012|
| 289942.0454392559|            2013|
| 315106.6014558695|            2014|
|338544.78467745386|            2015|
| 361789.5536397878|            2016|
|388828.55332122813|            2017|
| 416210.4067015307|            2018|
| 424244.2878377079|            2019|
|448736.96008692513|            2020|
| 520889.7110136515|            2021|
+------------------+----------------+

In [0]:
# checking total number of sold properties from 2012 to 2021
result = spark.sql("SELECT count(median_sale_price) as no_of_sold_properties FROM US_REAL_ESTATE")

result.show()

+---------------------+
|no_of_sold_properties|
+---------------------+
|              9002881|
+---------------------+

In [0]:
# query for city with maximum sale price
result = spark.sql("SELECT city, max(median_sale_price) as maximum_sale_price FROM US_REAL_ESTATE GROUP BY city ORDER BY maximum_sale_price DESC LIMIT 1")
result.show()

+----------+------------------+
|      city|maximum_sale_price|
+----------+------------------+
|Ocean City|          2.3957E8|
+----------+------------------+

Ocean City : 239,570,000

In [0]:
# query for city with minimum sale price
result = spark.sql("SELECT city, min(median_sale_price) as minimum_sale_price FROM US_REAL_ESTATE GROUP BY city ORDER BY minimum_sale_price DESC LIMIT 1")
result.show()

+-----------+------------------+
|       city|minimum_sale_price|
+-----------+------------------+
|Toro Canyon|         2532000.0|
+-----------+------------------+

In [0]:
# query for maximum listed price and minimum listed price
from pyspark.sql import functions as F
result = spark.sql("SELECT MAX(median_list_price) as maximum_listed_price, MIN(median_list_price) as Minimum_listed_price FROM US_REAL_ESTATE")
result.show()

+--------------------+--------------------+
|maximum_listed_price|Minimum_listed_price|
+--------------------+--------------------+
|        9.99999999E8|               100.0|
+--------------------+--------------------+

999999999.0

In [0]:
# query for average listed price
result = spark.sql("SELECT avg(median_list_price) as average_listed_price  FROM US_REAL_ESTATE")
result.show()

+--------------------+
|average_listed_price|
+--------------------+
|  393705.01265894773|
+--------------------+

In [0]:
# query for average listed price for each property type
result = spark.sql("SELECT avg(median_list_price) as average_listed_price,property_type  FROM US_REAL_ESTATE group by property_type")
result.show()

+--------------------+--------------------+
|average_listed_price|       property_type|
+--------------------+--------------------+
|  355592.48143801483|           Townhouse|
|  430429.11517231335|Single Family Res...|
|  313655.82373490994|         Condo/Co-op|
|  410895.24590747594|Multi-Family (2-4...|
|  391066.17915906373|     All Residential|
+--------------------+--------------------+

In [0]:
# # query for average listed price for each year
result = spark.sql("SELECT avg(median_list_price) as average_listed_price,year(period_end)  FROM US_REAL_ESTATE group by year(period_end) ORDER BY year(period_end)")
result.show()

+--------------------+----------------+
|average_listed_price|year(period_end)|
+--------------------+----------------+
|  288723.67849422275|            2012|
|  310458.02316994994|            2013|
|   329743.3819421097|            2014|
|  351884.52596548694|            2015|
|  374823.56203456025|            2016|
|  399892.09859415697|            2017|
|  420825.30367595877|            2018|
|  428943.96574527776|            2019|
|     456677.29090461|            2020|
|   513035.4793163661|            2021|
+--------------------+----------------+

In [0]:
# top cities with number of new listings
result = spark.sql("SELECT count(new_listings) as No_listings,state  FROM US_REAL_ESTATE group by state ORDER BY No_listings DESC")
result.show()

+-----------+--------------+
|No_listings|         state|
+-----------+--------------+
|    1484367|    California|
|    1076668|       Florida|
|     634310|         Texas|
|     384859|      Illinois|
|     328935|       Arizona|
|     302380|      Colorado|
|     295443| Massachusetts|
|     267679|      New York|
|     266339|          Ohio|
|     262468|    Washington|
|     257570|North Carolina|
|     222533|  Pennsylvania|
|     220306|      Virginia|
|     217342|      Michigan|
|     207887|       Georgia|
|     184145|     Minnesota|
|     174989|     Wisconsin|
|     160696|        Oregon|
|     154264|     Tennessee|
|     148048|     Louisiana|
+-----------+--------------+
only showing top 20 rows

In [0]:
# number of listings for each property type
result = spark.sql("SELECT count(new_listings) as No_listings,property_type  FROM US_REAL_ESTATE group by property_type ORDER BY No_listings DESC")
result.show()

+-----------+--------------------+
|No_listings|       property_type|
+-----------+--------------------+
|    3372051|     All Residential|
|    3082872|Single Family Res...|
|    1058976|         Condo/Co-op|
|     816292|           Townhouse|
|     672690|Multi-Family (2-4...|
+-----------+--------------------+

In [0]:
# query for total inventory in each year
result = spark.sql("SELECT count(inventory) as total_inventory,year(period_end) as YEAR FROM US_REAL_ESTATE group by year(period_end) order by  YEAR")
result.show()

+---------------+----+
|total_inventory|YEAR|
+---------------+----+
|         651783|2012|
|         820524|2013|
|         841765|2014|
|         911017|2015|
|         941717|2016|
|         953307|2017|
|         958199|2018|
|         956744|2019|
|         957606|2020|
|        1010219|2021|
+---------------+----+

In [0]:
# query fortop 10 cities having average sales price 
result = spark.sql("SELECT city,avg(median_sale_price) as avg_sale_price  FROM US_REAL_ESTATE group by city order by avg_sale_price DESC LIMIT 10")
result.show()

+-----------------+--------------------+
|             city|      avg_sale_price|
+-----------------+--------------------+
|      Toro Canyon|1.0742489328877006E7|
|         Atherton|   5506627.661482159|
|           Makena|   5147386.970679012|
|      Gulf Stream|   5091264.050420168|
|     Hillsborough|   4391806.822213653|
|    Lake Sherwood|   3799474.358974359|
|  Los Altos Hills|           3794157.5|
|Belvedere Tiburon|  3743529.6614583335|
|   Portola Valley|  3477829.1381418095|
|        Montecito|  3407654.8757894738|
+-----------------+--------------------+

In [0]:
# year with the highest total homes_sold
result = spark.sql("SELECT YEAR(period_end) as year, SUM(homes_sold) as total_homes_sold FROM US_REAL_ESTATE GROUP BY year ORDER by total_homes_sold DESC LIMIT 1")
result.show()

+----+----------------+
|year|total_homes_sold|
+----+----------------+
|2021|     1.7466442E7|
+----+----------------+

In [0]:
#property_type with the highest average inventory
result = spark.sql("SELECT property_type, AVG(inventory) as avg_inventory FROM US_REAL_ESTATE GROUP BY property_type ORDER BY avg_inventory DESC LIMIT 1")
result.show()

+---------------+------------------+
|  property_type|     avg_inventory|
+---------------+------------------+
|All Residential|21.578660287166475|
+---------------+------------------+

In [0]:
# state with the most new_listings in the latest year
result=spark.sql("SELECT state, SUM(new_listings) as total_new_listings FROM US_REAL_ESTATE WHERE YEAR(period_end) = (SELECT MAX(YEAR(period_end)) FROM US_REAL_ESTATE) GROUP BY state ORDER BY total_new_listings DESC LIMIT 1")
result.show()

+----------+------------------+
|     state|total_new_listings|
+----------+------------------+
|California|         2636011.0|
+----------+------------------+

In [0]:
#average median_sale_price change month over month (median_sale_price_mom) and year over year (median_sale_price_yoy)
result=spark.sql("SELECT AVG(median_sale_price_mom) as avg_mom_change, AVG(median_sale_price_yoy) as avg_yoy_change FROM US_REAL_ESTATE")
result.show()

+-------------------+------------------+
|     avg_mom_change|    avg_yoy_change|
+-------------------+------------------+
|0.14580845037048032|0.9312429727288867|
+-------------------+------------------+

In [0]:
#city and year with the highest sold_above_list
result=spark.sql("SELECT city, YEAR(period_end) as year, MAX(sold_above_list) as max_sold_above_list FROM US_REAL_ESTATE GROUP BY city, year ORDER BY max_sold_above_list DESC LIMIT 1")
result.show()

+---------+----+-------------------+
|     city|year|max_sold_above_list|
+---------+----+-------------------+
|Lancaster|2012|                1.0|
+---------+----+-------------------+

In [0]:
#city and year with the highest sale_price value
result=spark.sql("SELECT city, YEAR(period_end) as year, MAX(median_sale_price) as max_price_sold FROM US_REAL_ESTATE GROUP BY city, year ORDER BY max_price_sold DESC LIMIT 1")
result.show()
# max_price : 239,570,000

+----------+----+--------------+
|      city|year|max_price_sold|
+----------+----+--------------+
|Ocean City|2017|      2.3957E8|
+----------+----+--------------+

In [0]:
#total number of homes_sold for each parent_metro_region
result=spark.sql("SELECT parent_metro_region, SUM(homes_sold) as total_homes_sold FROM US_REAL_ESTATE GROUP BY parent_metro_region ORDER BY total_homes_sold DESC limit 10")
result.show()

+-------------------+----------------+
|parent_metro_region|total_homes_sold|
+-------------------+----------------+
|        Phoenix, AZ|       6517274.0|
|        Chicago, IL|       6387050.0|
|    Los Angeles, CA|       5980740.0|
|        Houston, TX|       4329168.0|
|         Denver, CO|       4024012.0|
|       New York, NY|       3498858.0|
|    San Antonio, TX|       3212670.0|
|        Seattle, WA|       2820576.0|
|      San Diego, CA|       2816976.0|
|     Washington, DC|       2733198.0|
+-------------------+----------------+

In [0]:
#the property_type with the lowest average median_dom (Days on Market)
result=spark.sql("SELECT property_type, AVG(median_dom) as avg_days_on_market FROM US_REAL_ESTATE GROUP BY property_type ORDER BY avg_days_on_market ASC LIMIT 1")
result.show()

+-------------+------------------+
|property_type|avg_days_on_market|
+-------------+------------------+
|    Townhouse| 73.51006196312105|
+-------------+------------------+